img {
    float: left;
    margin: 10px;
    margin-bottom: 40px;
}

#title {
    float: left;
    margin-left: -200px;
    margin-top: -25px;
}


#rating {
    float: left;
    margin-left: -200px;
    margin-top: -12px;
}
